//$background: #edd0b1;
$background: #ffdaab;
$unsat-background: desaturate($background,15%);
$background5:  darken($unsat-background,5%);
$background10: darken($unsat-background,10%);
$background15: darken($unsat-background,15%);
$background20: darken($unsat-background,20%);
$background-img: 'img/background.jpg';

html{
	background-color: white;
	padding: 0;
}
body{
	font-family: sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
	background-color: $background;
	background: url($background-img) repeat;
	border:solid 1px black;
}
h1 img {
	height: 48px;
}
h1,h2,h3,h4,h5,h6{
	border-bottom: solid 2px $background20;
}
h1{
	font-size: 24px;
	margin-top: 0;
}
h2{
	font-size: 20px;
}
h4{
	margin-bottom: 0.25em;
}

.text-center{
	text-align: center;
}
.small-caps{
	font-variant: small-caps;
}
#wrapper{
	padding: 1em;
	padding-top: 4px;
	margin: 0;
	display: inline-block;
	min-width: 300px;
}
dt{
	font-weight: bold;
}
#popup-nav{
	font-size: 10px;
}
#app_version{
	font-size: 10px;
}

div.modules{
	&>div.module{
		margin-bottom: 0.5em;
		&>div.module-header{
		
			cursor: pointer;
			border: solid 1px $background20;
			background-color: $background5;
			padding: 0.5em;
			&:hover{
				background-color: $background10
			}
			&.open{
				background-color: $background15;
			}
			&>div.is_module_loaded{
				display: inline-block;
				width: 16px;
				height: 16px;
				border:solid 1px black;
				border-radius: 10px;
				&.is_loaded{
					background-color: limegreen;
				}
				&.not_loaded{
					background-color: firebrick;
				}
			}
			.img_expand{
				transition: transform 0.3s;
				&.rotate-up{
					transform: rotateZ(-180deg) translateY(-5px);
					
				}
			}
			&>span{
				margin-left: 6px;
				font-size: 18px;
			}
		}

		&>div.settings{
			height: 0px;
			padding: 0;
			visibility: none;
			border: none;
			overflow: hidden;
			&.open{
				border:dashed 1px $background20;
				visibility: visible;
				height: auto;
				padding: 5px;
				padding-left: 24px;
				background-color: $background10;
			}
		}
	}
}